asgiref
astroid
autopep8
beautifulsoup4
bs4
cffi
cryptography
cycler
Django
django-cors-headers
django-rest-knox
djangorestframework
isort
kiwisolver
lazy-object-proxy
matplotlib
mccabe
numpy
Pillow
pycodestyle
pycparser
pylint
pyparsing
python-dateutil
pytz
six
soupsieve
sqlparse
toml
wrapt
