.Container {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.Container .description {
  width: 75%;
  padding: 20px;
}

.Container .SaveChanges {
  margin-top: 20px;
  display: none;
}

.Container .SaveChanges.Active {
  display: block;
}
.Container .SaveChanges button {
  padding: 8px 10px;
  border: none;
  outline: none;
  background-color: #43007e;
  border: 0px solid var(--first);
  color: white;
  border-radius: 4px;
}
.Profile {
  margin: auto;
}
.Profile .Detail {
  border-bottom: 2px solid var(--third);
}

.Profile .Detail .Item {
  padding: 10px;
  color: black;
  background: #f1e4fd;
  margin-right: 10px;
  font-size: 18px;
  border-radius: 6px;
}

.Profile .Detail .Value {
  padding: 10px;
  text-transform: uppercase;
  color: var(--first);
  background: var(--third);
  margin-right: 10px;
  border-radius: 4px;
  margin-top: 20px;
  position: relative;
  display: inline-block;
}

.Choices {
  margin-top: 20px;
  display: none;
}

.Choices.Active {
  display: block;
}

.Choices .TagChoice {
  cursor: pointer;
  color: rgb(27, 26, 26);
  border: 1px solid rgb(36, 35, 35);
  padding: 5px;
  font-size: 14px;
  display: inline-block;
  margin: 5px 10px 5px 0px;
  border-radius: 10px;
  padding: 8px;
  transition: 0.1s ease;
}

.Choices .TagChoice:hover {
  background-color: #f1e4fd;
  border: 1px solid var(--first);
}

.AddTag {
  display: inline-block;
  margin-top: 20px;
  border: 0px solid var(--first);
  color: black;
  padding: 10px;
  background: #f1e4fd;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}

.EditTag {
  display: inline-block;
  border: 0px solid var(--first);
  color: black;
  padding: 5px;
  background: #eaeaea;
  border-radius: 4px;
  margin-top: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.cross {
  position: absolute;
  color: white;
  bottom: 101%;
  font-size: 15px;
  cursor: pointer;
  display: none;
}
.Notification {
  padding: 15px;
  background: var(--first);
  color: white;
  text-align: center;
  margin-top: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.error {
  padding: 15px;
  background: rgb(199, 32, 32);
  color: white;
  text-align: center;
  margin-top: 100px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.banner img {
  width: 100%;
}
