.template_list {
  width: 80%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.Heading {
  text-align: center;
  margin: 0px 0px;
  color: black;
  padding: 15px;
  font-size: 35px;
}

.Sorry {
  font-size: 20px;
  color: var(--third);
  text-align: center;
  background-color: var(--first);
  padding: 10px;
}
